<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Producto</title>
</head>
<body>
	<h1>FORMULARIO DE PRODUCTOS</h1>
	
	<form action="#" th:action="@{/index1}" th:object="${Producto}" method="post">
	
		<div>
		<label for="codigo"> Codigo: </label>
		<input type="text" th:field="*{codigo}" id="codigo" >
		</div>
		
		<br>
		
		<div>
		<label for="name"> Nombre Producto: </label>
		<input type="text" th:field="*{nombreProducto}" id="name" >
		</div>
		
		<br>
		
		<div>
		<label for="marca"> Marca: </label>
		<input type="text" th:field="*{marca}" id="marca" >
		</div>
		
		<br>
		
		<div>
		<label for="descrip"> Descripcion: </label>
		<input type="text" th:field="*{descripcion}" id="descrip" >
		</div>
		
		<br>
		
		<div>
			<input type= "submit" value="Enviar">
		</div>
	</form>
</body>
</html>